.BGTP {
    height: 100%; 
    margin-left: 7vh;
    animation: slideIn 2s 2s backwards;
    z-index: 2;
}

.text-info {
    border: solid #FFFFFF;
    padding: 3vh;
    background-color: #015a5a ;
}

.about-wrap {
    background: #29A0B1;
    float: right;
    width: 50%;
    height: 110vh; 
    margin-top: -3%;
    z-index: 1;
}

.icons-about {
  .icon1 {
    margin-left: 1vh;
    font-size: 6em;
    animation: fadeIn 3s 2s backwards;
  }

  .icon2 {
    margin-left: 12.5vh;
    margin-top: -10vh;
    font-size: 6em;
    animation: fadeIn 2s 2.4s backwards;
  }

  .icon3 {
    margin-left: 24vh;
    margin-top: -10vh;
    font-size: 6em;
    animation: fadeIn 2s 2.8s backwards;
  }

  .icon4 {
    margin-left: 35.5vh;
    margin-top: -10vh;
    font-size: 6em;
    animation: fadeIn 2s 2.8s backwards;
  }

  .icon5 {
    margin-left: 47vh;
    margin-top: -10vh;
    font-size: 6em;
    animation: fadeIn 2s 2.4s backwards;
  }

  .icon6 {
    margin-left: 58.5vh;
    margin-top: -10vh;
    font-size: 6em;
    animation: fadeIn 2s 2s  backwards;
  }
}


