.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #29A0B1;
    height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #29A0B1;
    height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    min-height: 250px;
  }

  .flat-button {
    color: #000000;
    background: #C0C0C0;
    font-size: 11px;
    letter-spacing: 3px;
    padding: 8px 10px;
    border: 1px solid #000000;
    outline: 1px solid #C0C0C0; 
    float: left;
    border-radius: 2px;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;

    &:hover {
      background: #29A0B1;
      color: #FFFFFF;
    }
  }

  textarea::placeholder,
  input::placeholder {
    color: #FFFFFF;
  }
}

.map-wrap {
  background: #29A0B1;
  float: right;
  width: 50%;
  height: 110vh; /* Set a fixed height */
  margin-top: -3%;
}

iframe {
  margin-left: 5vh;
  margin-top: 9vh;
  height: 91vh;
  width: 90vh;
  border: solid;
  animation: fadeIn 2s 2s backwards;
}


